<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="madpang" />
<link rel="stylesheet" href="../../commons/styles/new-style.css" />
<link rel="icon" type="image/png" sizes="16x16" href="../../commons/images/favicon-16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="../../commons/images/favicon-32.png" />
<link rel="icon" type="image/png" sizes="64x64" href="../../commons/images/favicon-64.png" />
<title>
New CSS Debugging Page
</title>
</head>
<body>
<header
	class="pd-debug-border pd-fixed pd-top-0 pd-left-0 pd-h-96 pd-w-full pd-bg-mercury pd-z-1000 pd-flex pd-row pd-center-y"
	style="--debug-border-color: blue;"
	aria-label="Page Header"
>
</header>
<main
	class="pd-mt-96"
>
Hello
</main>
</body>
</html>
