<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="madpang" />
<link rel="stylesheet" href="../../commons/styles/new-style.css" />
<link rel="icon" type="image/png" sizes="16x16" href="../../commons/images/favicon-16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="../../commons/images/favicon-32.png" />
<link rel="icon" type="image/png" sizes="64x64" href="../../commons/images/favicon-64.png" />
<title>
New CSS Debugging Page
</title>
</head>
<body>
<header
	class="pd-viewport-anchor pd-anchor-t-0 pd-anchor-l-0 pd-h-96 pd-w-full pd-bg-mercury pd-z-1000 pd-flex-container pd-layout-row pd-center-y"
	aria-label="Page Header" >
<button
	id="btn-go-home"
	class="pd-btn pd-h-96 pd-w-96 pd-bg-electric-blue"
	aria-label="Go HomePage" >
</button>
</header>
<main
	class="pd-debug-border pd-mt-96" >
Hello
<button
	id="btn-go-home"
	class="pd-debug-border pd-btn pd-h-96 pd-w-96"
	aria-label="Go HomePage" >
</button>
</main>
</body>
</html>
