# Temporary files
tmp*

# Misc files
.DS_Store
.vscode/

# Build
build*

# (Unnecessary) Submodule
mmd2html
zettelkasten

# Symlinks to the above directories
contents
tools

# Design files
*.afdesign
