<!DOCTYPE html>
<!-- 
    @file:     pd-wysheid/common/templates/post-template.html
    @brief:    the template for a post
    @details:  post should be placed at `pd-wysheid/artifact/<post-id>/<post-id>.html`
	@author: madpang
	@date:
	- created on 2025-05-18
	- updated on 2025-05-18        
-->
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="madpang" />
<link rel="stylesheet" href="../../common/styles/style.css" />
<title>
<!-- @ANCHOR:TITLE -->
</title>
</head>
<body>
<header>
<div class="nav-container">
<a id="link-stack" class="clickable-icon" aria-label="STACK" href="../../index.html"></a>
<a id="link-heap" class="clickable-icon" aria-label="HEAP" href="#heap"></a>
<a id="link-archive" class="clickable-icon" aria-label="ARCHIVE" href="#archive"></a>
</div>
<button id="switch-theme-button" class="clickable-icon" aria-label="Toggle theme"></button>
</header>
<main>
<article>
<!-- @ANCHOR:ARTICLE -->
</article>
</main>
<script src="../../common/scripts/main.js"></script>
</body>
</html>
